﻿@model Znode.Engine.Admin.ViewModels.CategoryProductsListViewModel
@using Znode.Engine.Admin.Models
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@PIM_Resources.LabelAssociateCategories</h1>

            <div class="pull-right">
                <button type="button" id="btnCancelcategoriesProductAssociation" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divAssociateWarehoueseInventory')"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                @if (Model?.GridModel.DataTableToList?.Count > 0)
                {
                    <div class="pull-right">
                        @Html.AuthorizedPrototypeRawActionLink(Admin_Resources.ButtonSave, "AssociatedCategoryProducts", "Category", "btn-text btn-text-secondary", "Category.prototype.AssociateCategoriesToProduct()")
                    </div>
                }
            </div>

        </div>
        <div class="col-sm-12 page-container">
            <div id="AssociateCategoryProductError" class="error-msg text-center margin-bottom" style="display:none">
                @Admin_Resources.PleaseSelectAtleastOneRecord
            </div>
            @using (Ajax.BeginForm("GetUnAssociatedCategoriesToProduct", "Category", new { isAssociateCategories = true, productId = Model.PimProductId },
             new AjaxOptions()
             {
                 UpdateTargetId = Model.GridModel.FrontObjectName,
                 OnSuccess = "$('#divCategoryProduct').modal('show')"
             },
            new { @id = "searchformAssociated" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
    </div>
</div>
<script>
    ZnodeBase.prototype.SetNoImageForList();
    ZnodeBase.prototype.AddClassToImageColumn('@Model.GridModel.FrontObjectName');
</script>