﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model NavigationViewModel

<div class="navgation-control">
    <div class="pull-left">
        @if (!string.IsNullOrEmpty(Model.EditAction))
        {
            if (!string.IsNullOrEmpty(Model.AreaName))
            {
                <a href="/@Model.AreaName/@Model.Controller/@Model.EditAction?@Model.EditDeleteQueryString" data-toggle="tooltip" data-placement="top" title="Edit"><i class="z-edit"></i></a>
            }
            else
            {
                <a href="/@Model.Controller/@Model.EditAction?@Model.EditDeleteQueryString" data-toggle="tooltip" data-placement="top" title="Edit"><i class="z-edit"></i></a>
            }
        }

        @if (!string.IsNullOrEmpty(Model.DeleteAction))
        {
            if (!string.IsNullOrEmpty(Model.AreaName))
            {
                <a href="/@Model.AreaName/@Model.Controller/@Model.DeleteAction?@Model.EditDeleteQueryString" data-toggle="tooltip" data-placement="top" title="Delete"><i class="z-delete"></i></a>
            }
            else
            {
                <a href="/@Model.Controller/@Model.DeleteAction?@Model.EditDeleteQueryString" data-toggle="tooltip" data-placement="top" title="Delete"><i class="z-delete"></i></a>
            }
        }
    </div>
    <div class="pull-left">
        <p>@Model.CurrentIndex to @Model.TotalCount</p>
    </div>
    <div class="pull-left">
        <button type="button" @(string.IsNullOrEmpty(Model.PreviousID) ? "disabled=disabled" : "") onclick="DynamicGrid.prototype.GetNextPreviousRecords('@Model.AreaName','@Model.Controller','@Model.DetailAction','@Model.PreviousQueryString')" data-toggle="tooltip" data-placement="top" title="@Admin_Resources.LinkPreviousRecord"><i class="z-up"></i></button>
        <button type="button" @(string.IsNullOrEmpty(Model.NextID) ? "disabled=disabled" : "") onclick="DynamicGrid.prototype.GetNextPreviousRecords('@Model.AreaName','@Model.Controller','@Model.DetailAction','@Model.NextQueryString')" data-toggle="tooltip" data-placement="top" title="@Admin_Resources.LinkNextRecord"><i class="z-down"></i></button>
    </div>
</div>